In [1]:
import pandas as pd

In [2]:
r_cols=['user_id','movie_id','rating']
ratings=pd.read_csv('u.data.csv',sep='\t',names=r_cols,usecols=range(3))
m_cols=['movie_id','title']
movies=pd.read_csv('u.item.csv',sep='|',names=m_cols,usecols=range(2))

In [3]:
ratings=pd.merge(movies,ratings)
ratings.head()

   movie_id              title
0         1   Toy Story (1995)
1         2   GoldenEye (1995)
2         3  Four Rooms (1995)
3         4  Get Shorty (1995)
4         5     Copycat (1995)